* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --green: #92FE9D;
    --blue: #00C9FF;
    font-size: 1em;
}

body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    font-family: 'Raleway', sans-serif;
}

.contenedor-formulario {
    width: 100%;
    color: #f2f2f2;
    padding: 50px;
}

.wrap {
    width: 90%;
    max-width: 500px;
    padding: 3em;
    margin: auto;
    background: #fff;
}

.formulario {
    width: 100%;
    margin: auto;
}


input {
    font-size: 1em;
    text-transform: none;
    /* color: var(--blue); */
    width: 100%;
    padding: 1em;
    border: none;
    border-bottom: 2px solid var(--blue);
    transition-duration: .2s;
}

input:focus {
    outline: none;
    font-size: 1.2em;
}

input:invalid {
    border-bottom: 2px solid #D32F2F;
}

input:valid {
    border-bottom: 2px solid var(--green);
}

.label {
    color: #919191;
    transition: all 0.3s ease;
    margin-left: 1em;
    font-size: .825em;
}

.btn-submit {
    background: var(--blue);
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em;
    width: 100%;
    margin-top: 1em;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    color: white;
    background: #1976D2;
}