* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --green: #92FE9D;
    --blue: #00C9FF;
    --red: #D32F2F;
    font-size: 1em;
}

body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    font-family: 'Raleway', sans-serif;
}

.titulo {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    background: linear-gradient(90deg, var(--blue), var(--green));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contenedor-formulario {
    width: 100%;
    padding: 50px;
}

.wrap {
    width: 90%;
    max-width: 500px;
    padding: 3em;
    margin: auto;
    background: #fff;
}

.formulario {
    width: 100%;
    margin: auto;
}

.input-group {
    margin-top: 1em;
}

input,
textarea {
    font-size: 1em;
    text-transform: none;
    width: 100%;
    padding: 1em;
    border: none;
    border-bottom: 2px solid var(--blue);
    transition-duration: .2s;
}

input:focus,
textarea:focus {
    outline: none;
    font-size: 1.2em;
}

input:invalid,
textarea:invalid {
    border-bottom: 2px solid var(--red);
}

input:valid,
textarea:valid {
    border-bottom: 2px solid var(--green);
}

.chkbox {
    width: inherit;
}

.chk-group {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--red);
}

.chk-group .label {
    padding-bottom: .5em;
}

.unidad {
    font-family: sans-serif;
    margin: .25em;
    color: gray;
}

.label {
    color: #919191;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
}

.opc {
    text-transform: lowercase;
}

#btn-submit {
    background: var(--green);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em;
    width: 100%;
    margin-top: 1em;
    transition: all 0.3s ease;
}

#btn-submit:hover {
    color: white;
    background: #1976D2;
}

#btn-submit:disabled{
    background-color: var(--red);
    color: white;
}
